@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Inter', sans-serif;
  font-optical-sizing: auto;
  font-weight: normal;
  font-style: normal;
}

#app {
  display: flex;
  flex-direction: column;
}

#hero {
  height: 40vh;
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: center;
  padding-bottom: 32px;
}

#hero p {
  font-size: 72px;
  font-weight: 700;
  text-align: center;
  text-wrap: balance;
  margin-bottom: 1rem;
}

#hero span {
  background-color: #000;
  color: #fff;
  display: inline-block;
  font-size: 72px;
  font-weight: 700;
  text-align: center;
  text-wrap: balance;
  padding: 0px 32px;
  transform: rotate(-2deg);
}


#book-list-container {
  white-space: nowrap;
  overflow: hidden;
  background-image: linear-gradient(#fff, #f0f0f2);
  padding-top: 2rem;
}

.books {
  display: inline-flex;
  animation: slide-in 80s linear infinite;
}

@keyframes slide-in {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}

.book-list {
  display: flex;
  flex-direction: column;
  margin: 0.5rem;
  cursor: pointer;
}

.book-list-title {
  margin-top: 1rem;
  font-weight: 600;
  max-width: 30ch;
  color: rgba(0, 0, 0, 1);
  white-space: wrap;
}

.book-list-author {
  max-width: 30ch;
  margin-top: 0.2rem;
  color: rgba(150, 150, 150, 1);
  white-space: wrap;
}

.book-list-img {
  height: 400px;
  border-radius: 10px;
  transition: all 0.3s ease-in-out;
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.1);
}

.book-list-img:hover {
  filter: brightness(0.5)  
}

.actions {
  display: flex;
  justify-content: end;
  padding: 0 1rem;

}

.actions button {
  padding: 0 0.5rem;
  border-radius: 0;
}

#btn-view-mode {
  cursor: pointer;
}

#btn-view-mode:hover {
  box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.05);
}

#book-grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  gap: 10px;
  padding: 2rem;
}

.book-grid {
  margin: 0.5rem;
  cursor: pointer;
}

.book-grid-img {
  height: 300px;
  border-radius: 10px;
  transition: all 0.3s ease-in-out;
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.1);  
}

.book-grid-title {
  margin-top: 1rem;
  font-weight: 600;
  color: rgba(0, 0, 0, 1);
  max-width: 20ch;
}

.book-grid-author {
  margin-top: 0.2rem;
  color: rgba(150, 150, 150, 1);
  margin-bottom: 2rem;
  max-width: 20ch;
}

footer {
  height: 200px;
  background-color: #f6f6f7;
}
